.local/bin/ocx
.local/bin/uv
.local/bin/*.AppImage
.config/fish/fish_variables
.config/dconf/
.local/share/opencode/
.cache/
.mozilla/
.codeium/
.ssh/
.gnupg/
__MACOSX/
*.log
*.swp
*.swo
*~
node_modules/
.config/Code\ -\ OSS/
go/
.cargo/
.rustup/
.DS_Store
.AppImage
.gitconfig
